
.header-top{
    background-color: black;
    border-bottom: 1px solid white;
    padding-block: 0.875rem;
    font-size: 14px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.header-contact a, .header-contact span{
    color: white;
}

.header-contact a span:hover,
.header-top-login:hover {
    color: crimson;
}

.header-contact span:first-child{
    margin-right: 2rem;
}

.header-contact span, .header-news, .header-top-login {
    font-size: var(--small-font-size);
}

.header-news{
    color: white;
    font-weight: var(--weight-600);
}

.header-top-login{
    color: white;
}
.header{
    display: unset;
}


@media screen and (max-width: 768px){

    .header-top{
        display: none;
    }

}